<h3>Hi {{name}}</h3>

{{carMake}}
{{carModel}}
{{carColor}}
{{carPlate}}
{{carState}}

<div id="notification" style="display: none;">
  <span class="dismiss"><a title="dismiss this notification">x</a></span>
</div>

<img src="{{carPhoto}}" alt="" />
<a href="/confirmation">
  <input type="button" value="confirm">
</a>

<script>
setTimeout(function (){
$("#notification").fadeIn("slow").append('your message')}, 3000 )
$(".dismiss").click(function(){
       $("#notification").fadeOut("slow");
});
</script>
